{% extends "website/index.html" %}

{% block body %}

    <div class="container mt-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Bienvenue chez Ma Boutique</h1>
                <p class="col-md-8 fs-4">Découvrez nos meilleurs produits et les avis de nos clients satisfaits.</p>
                <a class="btn btn-primary btn-lg" href="{% url "products" %}">Voir les produits</a>
            </div>
        </div>
    </div>





{% endblock %}