{% extends "website/index.html" %}
{% block body %}

    <div class="form-control my-4 d-flex">
        <div><img src="https://via.placeholder.com/300" class="img-fluid" alt="Produit"></div>
        <div class="mx-4">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <div class="mb-2">
                <small class="text-muted">({{ product.rate }}/5)</small>
            </div>
            <a href="{% url "product_show" product.id %}" class="btn btn-warning">Acheter</a>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="mb-4">Avis des clients</h2>
        <div class="list-group">
            {% if product.comments.exists %}
            {% for comment in comments %}
            <div class="list-group-item">
                <h5>{{ comment.user.username }}</h5>
                <p>{{ comment.content }}</p>
                <h6>note : {{ comment.rate }} / 5</h6>
                <div>
                    <a href="{% url 'comment_delete' comment.id %}"><i class="bi bi-trash"></i></a>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <h5>Pas de commentaires pour ce produit</h5>
            {% endif %}
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="mb-4">Commentaires</h2>
        <form method="POST">
        {% csrf_token %}
            <div class="d-flex flex-column">
            {{ form }}
                <div><button type="submit" class="btn btn-primary">Soumettre</button></div>

            </div>
        </form>
    </div>


{% endblock %}